// Заголовки, загальні БЕМ блоки та інше...
.btn {
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: rem(20) 0;
  width: rem(195);
  font-weight: 600;
  font-size: rem(14);
  line-height: calc(18 / 14);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: rem(0.2);
  cursor: pointer;

  &-header {
    border-color: $accentColor;
    color: $accentColor;
    background: rgba(255, 255, 255, 0.6);
  }
}

.logo {
  position: relative;
  z-index: 11;
}

.menu-open {
  .nav {
    right: 0;
    position: relative;
    z-index: 11;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    background-color: #fff;
  }
}

.nav {
  font-weight: 500;
  line-height: calc(24 / 18);
  letter-spacing: 0.2px;
  color: $secondaryAccentColor;
  @media (max-width: $tablet) {
    position: fixed;
    right: -100%;
    top: 0;
    width: 70vw;
    height: 100vh;
    background-color: $accentColor;
    transition: all 0.3s linear;
    z-index: 9;
  }

  &__list {
    display: flex;
    gap: rem(27);

    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-size: rem(24);
      color: $secondaryTextColor;
    }
  }
}

.subtitle {
  font-weight: 500;
  font-size: rem(18);
  line-height: calc(24 / 18);
  text-align: center;
  letter-spacing: rem(0.2);
  color: $secondaryAccentColor;
}

.title {
  @include adaptiveValue('margin-top', 22, 15);
  @include adaptiveValue('margin-bottom', 35, 25);
  @include adaptiveValue('font-size', 44, 32);
  line-height: calc(54 / 44);

  font-weight: 500;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: $accentColor;

  span {
    color: $secondaryAccentColor;
  }
}

.descr {
  max-width: rem(470);
  color: $accentColor;
  font-weight: 500;
  line-height: calc(24 / 18);
  text-align: center;
  letter-spacing: 0.2px;
}

.article {
  padding: rem(104) 0 0;
  &__inner {
    display: flex;
    gap: rem(52);
    @media (max-width: $tablet) {
      flex-wrap: wrap-reverse;
    }
  }
  &__title {
    font-weight: 600;
    font-size: rem(32);
    line-height: calc(42 / 32);
    letter-spacing: rem(0.1);
    color: $secondaryAccentColor;
    text-transform: uppercase;
    padding: rem(30) 0 0 rem(10);
    margin-left: rem(-10);
    background: url(../img/title/title-img.png) top left/auto no-repeat;
  }
  &__img {
    width: 100%;
    img {
      @media (max-width: $tablet) {
        width: 100%;
      }
    }
  }

  &__text {
    line-height: calc(24 / 18);
    letter-spacing: rem(0.2);
  }

  &__descr {
    @include adaptiveValue('margin-top', 48, 28);
    @include adaptiveValue('margin-bottom', 24, 14);
  }

  &__more {
    text-transform: uppercase;
    color: $secondaryAccentColor;
  }
}
